footer {
    display: flex;
    align-items: center;
    background-color: rgb(163, 159, 159);
    color: rgb(205, 205, 212);
    height: 15vh;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a { 
    text-decoration: none;
    color: rgb(205, 205, 212);
}
footer img {
    max-width: 100%;
    width: 50px;
    height: 100%;
    margin-right: 50px;
}