<div class="container">
    <h1 class="text-center">{{ "Tracker" | translate}} </h1>
    <h2 > {{ "Monitor all your tasks with Tracker, a service for project management, resource allocation, and collaboration." | translate }}</h2>
    <p>
        {{"This application for creating a project management system was created as part of the Angular 2022 course from Rolling Scopes School. Worked on the project: EREKLE RATIANi." | translate}}
 </p> 
</div>
<div class="container d-flex flex-wrap my-4">
    <div class="row col-6 ">
        <div class="card w-100 " style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{"Flexible work environment" |translate}}</h5>
              <p class="card-text">{{"Tracker is a convenient solution for businesses of all sizes, with a universal approach right for any industry." |translate}}</p>
            </div>   
          </div> 
    </div>
      <div class="row col-6">
        <div class="card w-100" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{"Fault tolerance" |translate}}</h5>
              <p class="card-text">{{"Tracker is designed to handle heavy workloads." |translate}}</p>
            </div>   
          </div>
      </div>
      <div class="row col-6">
        <div class="card w-100" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{"Manage team and track progress" |translate}}</h5>
              <p class="card-text">{{"Our project planning software has best features as well as features of the team management software." |translate}}</p>
            </div>   
          </div>
      </div>
      <div class="row col-6">
        <div class="card w-100 " style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{"Automatic online project scheduling and drag and drop simplicity" |translate}}</h5>
              <p class="card-text">{{"To make project management even easier, we let our users prioritize tasks, indent and outdent, set dependencies in one click, durations and progress right on a chart online by dragging and dropping tasks and their attributes." |translate}}</p>
            </div>   
          </div>
      </div>
</div>